[submodule "vim/bundle/taskpaper"]
	path = vim/bundle/taskpaper
	url = git://github.com/davidoc/taskpaper.vim.git 
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git 
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://github.com/wincent/command-t.git 
